#folders #
##########
*~
.*
!/.gitignore
Archive/
bin/
RemoteSystemsTempFiles/
TissueFolding/Debug/
UserInterface/Debug/
LegionBackup
build*
oldbuilds

# Specific Files #
##################
*gmon.out
*Out
moc_*
*.pro.user
*.pro-FORMAC

# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# python caches #
#################
**/__pycache__/**

