#folders #
##########
*~
.*
!/.gitignore
Archive/
bin/
RemoteSystemsTempFiles/
TissueFolding/Debug/
UserInterface/Debug/
LegionBackup
build*
oldbuilds

# Specific Files #
##################
*gmon.out
moc_*
*.pro.user
*.pro-FORMAC
tests/**/gen_outputs/

# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Pycache files #
#################
**__pycache__**

# compiled binary #
###################
**triangle
**EllipseFromOutline