#folders #
##########
*~
.*
!/.gitignore
Archive/
bin/
RemoteSystemsTempFiles/
TissueFolding/Debug/
UserInterface/Debug/
LegionBackup

# Specific Files #
##################
*gmon.out
*Out
moc_*

# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


